.idea/
var/
downloader/
media/

app/etc/local.xml

.htaccess
.htaccess.*
*.sample
/nbproject/
*.tar
/view.phtml

app/code/community/Mgt/
app/code/local/Mgt/
app/design/adminhtml/default/default/layout/mgt_developertoolbar.xml
app/design/adminhtml/default/default/template/mgt_developertoolbar/
app/design/frontend/default/default/layout/mgt_developertoolbar.xml
app/design/frontend/default/default/template/mgt_developertoolbar
app/etc/modules/Mgt_Base.xml
app/etc/modules/Mgt_DeveloperToolbar.xml
js/mgt_developertoolbar/
app/etc/modules/MW_Developertoolbar.xml
js/mw_developertoolbar/
js/mw_js/
skin/frontend/default/default/mw_developertoolbar/

