

/* ********************************************************************************************
    Update Version 1.2
*********************************************************************************************** */

.product-image-gallery {
  position: relative;
  overflow: hidden;
}
.product-img-box .product-image img {
  max-width: 100%;
  /*max-height: 750px;*/
  margin: 0px auto;
}

.product-view .product-image-gallery .gallery-image {
  display: none !important;
}
.product-view .product-image-gallery .gallery-image.visible {
  display: block !important;
}
.product-image-gallery .gallery-image.visible.hidden {
  visibility: hidden;
}
.product-image-gallery:before, .product-image-gallery:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
}
.product-image-gallery:before {
  background-color: white;
  opacity: 0.8;
  z-index: 2;
}
.product-image-gallery:after {
  background-image: url("../images/opc-ajax-loader.gif");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}
.product-image-gallery.loading {
  position: relative;
}
.product-image-gallery.loading:before, .product-image-gallery.loading:after {
  display: block;
}
.product-view .product-image-thumbs a img{
  display: block !important;
}
.zoomContainer{
  z-index: 1;
}
.itemslider-thumbnails .item{
  max-width: none;
  padding-left: 5px;
  padding-right: 5px;
}