<?xml version="1.0"?>
<config>
    <modules>
        <QSoft_PriceMatrix>
            <version>0.1.0</version>
        </QSoft_PriceMatrix>
    </modules>
    <global>
        <models>
            <qsoft_pricematrix>
                <class>QSoft_PriceMatrix_Model</class>
                <resourceModel>qsoft_pricematrix_resource</resourceModel>
            </qsoft_pricematrix>
            <qsoft_pricematrix_resource>
                <class>QSoft_PriceMatrix_Model_Resource</class>
                <entities>
                    <product_attribute_matrix_price>
                        <table>catalog_product_entity_matrix_price</table>
                    </product_attribute_matrix_price>
                    <product_index_matrix_price>
                        <table>catalog_product_index_matrix_price</table>
                    </product_index_matrix_price>
                </entities>
            </qsoft_pricematrix_resource>
        </models>
        <blocks>
                <qsoft_pricematrix>
                <class>QSoft_PriceMatrix_Block</class>
            </qsoft_pricematrix>
            <catalog>
                <rewrite>
                    <product_view>QSoft_PriceMatrix_Block_Product_View</product_view>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <qsoft_pricematrix>
                <class>QSoft_PriceMatrix_Helper</class>
            </qsoft_pricematrix>
        </helpers>
        <resources>
            <qsoft_pricematrix_setup>
                <setup>
                    <module>QSoft_PriceMatrix</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </qsoft_pricematrix_setup>
        </resources>
        <events>
            <adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <qsoft_pricematrix>
                        <type>singleton</type>
                        <class>qsoft_pricematrix/observer</class>
                        <method>adminhtmlCatalogProductEditPrepareForm</method>
                    </qsoft_pricematrix>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
        </events>
    </global>
    <frontend>
        <routers>
            <price_matrix>
                <use>standard</use>
                <args>
                    <module>QSoft_PriceMatrix</module>
                    <frontName>matrix</frontName>
                </args>
            </price_matrix>
        </routers>
    </frontend>
    <stores>
        <admin>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <template>qsoft</template>
                    <layout>qsoft</layout>
                </theme>
            </design>
        </admin>
    </stores>
</config>